    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <div class="container">
    <div class= "row">
      <div class = "col-md-12">
        <div class= "map">
              <button (click)="changeData()">    Test Get Request  </button><br>

          <sebm-google-map 
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]=false
          [zoomControl]="false"
          (mapClick)="mapClicked($event)">
          <sebm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m,i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [markerDraggable]="m.draggable"
          (dragEnd)= "markerDragEnd(m,$event)"
          >
          <sebm-google-map-info-window>
          <strong>{{m.name}}</strong>
          </sebm-google-map-info-window>
          </sebm-google-map-marker>

          <sebm-google-map-polyline>
            <sebm-google-map-polyline-point *ngFor="let m of markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            >    
            </sebm-google-map-polyline-point>
          </sebm-google-map-polyline>

          </sebm-google-map>
          <p [innerHTML]="test"></p>


          <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          
        </sebm-google-map>
        </div>
      </div>
    </div>
  </div><!-- /.container -->

